.react-particle {
    border-radius: 10px;
    border: 20px solid #F1EAFF;
}
.about-me {
    width: 92%;
    height: 600px;
    margin-left: 60px;
    border-radius: 50px;
    border: 20px solid #F1EAFF;
    background: #fff;
    margin-top: 80px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
}

.shameer-img {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-top: 120px;
    margin-left: 50px;
}

.name-container,
.role-container {
    font-family: sans-serif;
    margin-left: 30px;
    color: #43d7ff;
}

.role-container {
    font-size: 20px;
}


.introduction {
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    margin-left: 500px;
    margin-top: -350px;
    font-family: sans-serif;
    width: 500px;
    height: 270px;
    padding: 25px;
    background: linear-gradient(116.93deg, #3f4954 1%, #26292d 80%);
    color: yellow;
    cursor: pointer;
    border-radius: 50px;
    border: 20px solid #F1EAFF;
    box-shadow: 0 60px 12px -18px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);
}


.body-tag {
    width: 92%;
    height: 750px;
    margin-left: 60px;
    border-radius: 50px;
    border: 20px solid #F1EAFF;
    background: #fff;
    margin-top: 80px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
}

.whoami {
    position: absolute;
    font-size: 22px;
    margin-left: 50px;
    font-weight: 500;
    margin-top: 60px;
    font-family: sans-serif;
    width: 500px;
    height: 490px;
    padding: 25px;
    background: linear-gradient(116.93deg, #3f4954 1%, #26292d 80%);
    color: yellow;
    border-radius: 50px;
    border: 20px solid #F1EAFF;
    box-shadow: 0 60px 12px -18px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);
}

.whatido {
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    margin-left: 650px;
    margin-top: 60px;
    font-family: sans-serif;
    width: 500px;
    height: 490px;
    padding: 25px;
    background: linear-gradient(116.93deg, #3f4954 1%, #26292d 80%);
    color: yellow;
    border-radius: 50px;
    border: 20px solid #F1EAFF;
    font-weight: 500;
    box-shadow: 0 60px 12px -18px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);
}


.skill {
    width: 92%;
    height: 850px;
    margin-left: 60px;
    border-radius: 50px;
    background: #fff;
    border: 20px solid #F1EAFF;
    margin-top: 80px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
}

.fronttitle {
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 170px;
    padding: 10px;
    width: 130px;
    border-radius: 13px;
    height: 40px;
    color: yellow;
    background: linear-gradient(116.93deg, #3f4954 1%, #26292d 80%);
    box-shadow: 0 60px 12px -18px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);
}

.servertitle {
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 580px;
    padding: 10px;
    width: 130px;
    border-radius: 13px;
    height: 40px;
    color: yellow;
    background: linear-gradient(116.93deg, #3f4954 1%, #26292d 80%);
    box-shadow: 0 60px 12px -18px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);
}

.datatitle {
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 940px;
    padding: 10px;
    width: 130px;
    border-radius: 13px;
    height: 40px;
    color: yellow;
    background: linear-gradient(116.93deg, #3f4954 1%, #26292d 80%);
    box-shadow: 0 60px 12px -18px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);
}

.title {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-left: 450px;
    width: 300px;
    border-radius: 13px;
    padding: 10px;
    color: yellow;
    background: linear-gradient(116.93deg, #3f4954 1%, #26292d 80%);
    box-shadow: 0 60px 12px -18px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);

}

.frontend-image {
    background-color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 13px;
    width: 70px;
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.server-image {
    background-color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 13px;
    width: 70px;
    height: 70px;
    padding: 20px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.database-image {
    background-color: #fff;
    border-radius: 13px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    width: 70px;
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center
}


.frontend-container {
    font-family: sans-serif;
    font-size: 15px;
    position: absolute;
    margin-top: 20px;
    margin-left: 80px;
    background: linear-gradient(116.93deg, #3f4954 1%, #26292d 80%);
    color: yellow;
    width: 300px;
    height: 670px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    border: 10px solid #F1EAFF;
}

.frontend-container a,
.server-container a,
.database-container a {
    color: yellow;
    text-decoration: none;
}

.frontend-container a:hover,
.server-container a:hover,
.database-container a:hover {
    text-decoration: underline;
    color: #fff;
}

.server-container {
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 480px;
    position: absolute;
    margin-top: 20px;
    background: linear-gradient(116.93deg, #3f4954 1%, #26292d 80%);
    color: yellow;
    width: 300px;
    height: 400px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #F1EAFF;
}

.database-container {
    margin-left: 850px;
    font-size: 15px;
    position: absolute;
    margin-top: 20px;
    background: linear-gradient(116.93deg, #3f4954 1%, #26292d 80%);
    color: yellow;
    width: 300px;
    height: 400px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #F1EAFF;
}

@media screen and (max-width:850px) {

    .react-particle {
        border-radius: 5px;
        border: 10px solid #F1EAFF;
    }

    .name-container{
        margin-top: 20px;
        font-size: 14px;
        margin-left: 30%;
    }
    .role-container {
        margin-top: 20px;
        font-size: 14px;
        margin-left: 15%;
    }

    .about-me {
        width: 100%;
        height: 900px;
        margin-left: 0px;
        margin-top: 80px;
        border: 10px solid #F1EAFF;
    }

    .shameer-img {
        width: 35%;
        height: auto;
        margin-top: 120px;
        margin-left: 30%;

    }

    .introduction {
        position: absolute;
        font-size: 14px;
        margin-left: 20%;
        margin-top: 60px;
        width: 60%;
        height: auto;
        border: 10px solid #F1EAFF;
    }

    .body-tag {
        width: 100%;
        height: 800px;
        margin-left: 0px;
        margin-top: 80px;
        border: 10px solid #F1EAFF;
    }

    .whoami {
        font-size: 10px;
        margin-left: 20%;
        margin-top: 30px;
        width: 60%;
        height: auto;
        border: 10px solid #F1EAFF;
    }

    .whatido {
        font-size: 10px;
        margin-left: 20%;
        margin-top: 380px;
        width: 60%;
        height: auto;
        border: 10px solid #F1EAFF;
    }

    .skill {
        width: 100%;
        height: 1750px;
        margin-left: 0px;
        border: 10px solid #F1EAFF;
        margin-top: 80px;
    }

    .title {
        font-size: 14px;
        margin-top: 20px;
        margin-left: 27%;
        width: 180px;
        border-radius: 13px;
    }

    .fronttitle {
        margin-left: 30%;
        font-size: 14px;
        width: 130px;
        height: 40px;
    }

    .servertitle {
        position: absolute;
        margin-left: 30%;
        font-size: 14px;
        margin-top: 600px;
        width: 130px;
        height: 40px;

    }

    .datatitle {
        position: absolute;
        margin-left: 30%;
        margin-top: 1080px;
        font-size: 14px;
        width: 130px;
        height: 40px;

    }

    .frontend-container {
        font-size: 10px;
        margin-top: 20px;
        margin-left: 12.5%;
        width: 70%;
        height: auto;
        border: 10px solid #F1EAFF;
    }

    .frontend-image {
        font-size: 10px;
        width: 60px;
        height: 60px;
    }

    .server-container {
        margin-left: 12.5%;
        margin-top: 650px;
        width: 70%;
        height: 400px;
    }

    .server-image {
        width: 60px;
        height: 60px;
    }


    .database-container {
        margin-left: 12.5%;
        font-size: 10px;
        margin-top: 1150px;
        width: 70%;
        height: 400px;
    }

    .database-image {
        font-size: 10px;
        width: 60px;
        height: 60px;
    }

}